__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.cache
.venv
venv/
env/
.idea/
*.log
/venv
.env
.rdb
/temp_files
/temp
/logs/
logs/
.DS_STORE
*.DS_STORE
.DS_Store
*.DS_Store
.log
# /alembic/versions/*.py
/secrets
*.mp4
*.docx
.pytest_cache